<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.trusttobit.btcdictionary">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />


    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/bitcoin"
        android:label="@string/app_name"
        android:roundIcon="@drawable/bitcoin"
        android:supportsRtl="true"
        android:theme="@style/Theme.BTCDictionary"
        tools:targetApi="31">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.BTCDictionary.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".PersianBitDictionary"/>
        <activity android:name=".EnglishBitDictionary"/>
        <activity android:name=".SearchBitDictionary"/>
        <activity android:name=".ShowEnglishDetails"/>
        <activity android:name=".ShowPersianDetails"/>
    </application>

</manifest>